<div class="finished d-flex flex-column justify-content-between align-items-center">
    <div class="w-100">
        <img src="../../assets/resources/red_line.svg">
        <img src="../../assets/resources/blue_line.svg">
    </div>
    <div class="winner">
        <div class="photo">
            <img src="../../assets/winner/winner_crop.jpg">
        </div>
    </div>
    <div class="text">
        Победитель Адвента — <a href="https://vk.com/christosha" target="_blank">Кристина Ершова</a>, ИТиАБД 1 курс
    </div>
    <div class="w-100">
        <img src="../../assets/resources/blue_line.svg">
        <img src="../../assets/resources/red_line.svg">
    </div>
    <div class="container text">
        Адвент завершён и Информационный комитет благодарит всех, кто принял в нём участие. Скоро откроется отбор в наш комитет, где вы сможете творчески реализовать себя в фото, видео, дизайне, СМИ и цифровых технологиях, информация будет в <a href="https://vk.com/icsst" target="_blank">группе</a>.
        <br>
        Счастливого Нового года!
    </div>
    <div class="w-100">
        <img src="../../assets/resources/red_line.svg">
        <img src="../../assets/resources/blue_line.svg">
    </div>
</div>