.auth {
    background-image: url(./../../assets/backgrounds/auth.svg);
    height: 100vh;
    form {
        width: 600px;
        label {
            color: white;
            font-weight: bolder;
        }
        input {
            background-color: #17B0AB;
            border: none;
            color: white;
        }
        .btn-white {
            background-color: white;
            &:hover {
                box-shadow: 0 0 5px 3px #17B0AB;
                color: #17B0AB;
            }
            &:active {
                box-shadow: 0 0 5px 3px #17B0AB inset;
            }
        }
    }
    .gloves {
        position: absolute;
        right: 80px;
        top: 35px;
    }
    .candle {
        position: absolute;
        left: 80px;
        bottom: 60px;
    }
    .text {
        color: white;
        text-align: center;
    }
}

@media(max-width: 900px) {
    .gloves {
        display: none;
    }
    .candle {
        display: none;
    }
}