.answer {
    height: 100vh;
    .card {
        height: 400px;
        width: 70%;
        margin: auto;
        border-radius: 50px;
        .answer-text {
            font-size: 1.5rem;
            font-weight: bolder;
            text-align: center;
            padding: 2rem;
            white-space: pre-wrap;
        }
        textarea {
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: 1.3rem;
            border: none;
            background: none;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        .btn {
            max-width: 120px;
            margin-bottom: 2rem;
            margin-right: 2rem;
        }
    }
}

.black {
    color: black;
}

.white {
    color: white;
}

.sock {
    position: absolute;
    right: 30px;
    top: 28px;
}

.black-white {
    background-color: black;
    color: white;
    &:hover {
        box-shadow: 0 0 5px 3px white;
    }
    &:active {
        box-shadow: 0 0 5px 3px white inset;
        border: white;
    }
}

.red-white {
    background-color: #DF4A4E;
    color: white;
    &:hover {
        box-shadow: 0 0 5px 3px black;
        color: black;
        border: black;
    }
    &:active {
        box-shadow: 0 0 5px 3px black inset;
        color: black;
        border: black;
    }
}

@media(max-width: 560px) {
    .sock {
        display: none;
    }
    .answer-text {
        padding: 0.5rem !important;
        padding-top: 1rem !important;
        font-size: 0.8rem !important;
    }
    .answer {
        overflow-y: scroll;
    }
}