.answer {
    height: 100vh;
    .card {
        height: 400px;
        width: 70%;
        margin: auto;
        border-radius: 50px;
        .answer-text {
            font-size: 1.5rem;
            font-weight: bolder;
            text-align: center;
            padding: 10px;
            white-space: pre-wrap;
        }
        textarea {
            margin-left: 2rem;
            margin-right: 2rem;
            font-size: 1.3rem;
            border: none;
            background: none;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        .btn {
            margin-left: 2rem;
            max-width: 120px;
        }
    }
}

.black {
    color: black;
}

.white {
    color: white;
}

.sock {
    position: absolute;
    right: 30px;
    top: 28px;
}