<div class="d-flex flex-column justify-content-between main">
    <div>
        <div class="container d-flex justify-content-between align-items-center flex-column-reverse flex-lg-row">
            <div class="logo mt-2 d-lg-block d-none">
                <img src="../../assets/resources/Ik_logo.svg">
            </div>
            <div class="header">
                <h1>Адвент</h1>
                <div>
                    Семь дней и семь вопросов от Информационного комитета и один бокс F&U. Верные, креативные ответы =
                    победа в адвенте. Желаем удачи!
                </div>
            </div>
            <div>
                <div class="d-flex justify-content-end align-items-center pt-2 pr-2">
                    <div (click)="auth()" class="pointer no-active-border d-flex justify-content-end align-items-center">
                        <h6>{{userName ? userName : 'Авторизоваться'}}</h6>
                        <div class="img-block ml-2">
                            <img *ngIf="photoSrc" [src]="photoSrc" [style]="photoCrop">
                            <img *ngIf="!photoSrc" src="./../../assets/user.jpg" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100">
            <img src="../../assets/resources/red_line.svg">
            <img src="../../assets/resources/blue_line.svg">
        </div>
    </div>
    <div class="container d-flex flex-wrap justify-content-center">
        <div class="advent-block pointer mx-3" *ngFor="let day of days" (click)="toAnswer(day.id)">
            {{day.id}}
        </div>
    </div>
    <div>
        <div class="tree w-100">
            <img src="../../assets/resources/tree.svg">
            <img src="../../assets/resources/red_line.svg">
        </div>
        <div class="container footer">
            Бокс F&U, который стоит под ёлкой Информационного комитета, достанется сильнейшему. В нём разные подарки на
            любой вкус — от тёплого мерча, согревающего на дистанционке, до милой безделушки для создания новогоднего
            настроения.
        </div>
    </div>
</div>