<div class="d-flex flex-column">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="logo mt-2">
            <img src="../../assets/resources/Ik_logo.svg">
        </div>
        <div class="header">
            <h1>Адвент</h1>
            <div>
                Семь дней и семь вопросов от Информационного комитета и один бокс F&U. Верные и креативные ответы = победа в адвенте. Желаем удачи!
            </div>
        </div>
        <div>
            <div *ngIf="photoSrc" class="d-flex justify-content-end align-items-center pt-2 pr-2">
                <h6>{{userName}}</h6>
                <div class="img-block ml-2">
                    <img [src]="photoSrc" [style]="photoCrop">
                </div>
            </div>
            <div *ngIf="!photoSrc" class="d-flex justify-content-end align-items-center pt-2 pr-2">
                <div routerLink="/auth" class="pointer no-active-border d-flex justify-content-end align-items-center">
                    <h6>Авторизоваться</h6>
                    <div class="img-block ml-2">
                        <img src="./../../assets/user.jpg" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img src="../../assets/resources/red_line.svg">
        <img src="../../assets/resources/blue_line.svg">
    </div>
    <div class="container d-flex flex-wrap justify-content-center">
        <div class="advent-block mx-3" *ngFor="let day of days">
            {{day}}
        </div>
    </div>
    <div class="tree">
        <img src="../../assets/resources/tree.svg">
        <img src="../../assets/resources/red_line.svg">
    </div>
    <div class="container footer">
        Бокс F&U, который стоит под ёлкой Информационного комитета, достанется сильнейшему. В нём разные подарки на любой вкус — от тёплого мерча, согревающего на дистанционке, до милой безделушки для создания новогоднего настроения.
    </div>
</div>