<div class="d-flex justify-content-between align-items-center p-3">
    <button class="btn btn-link" (click)="toMainOrLogOut(false)">Выйти</button>
    <button class="btn btn-primary" (click)="toMainOrLogOut(true)">На главную</button>
</div>

<table>
    <thead>
        <tr>
            <th *ngFor="let head of headers">{{head}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.user_id}}</td>
            <td>{{user.self_name}}</td>
            <td><a [href]="'https://vk.com/' + user.domain" target="blank">@{{user.domain}}</a></td>
            <td *ngFor="let answer of user.answers">{{answer ? answer.answer : 'Не ответил'}}</td>
        </tr>
    </tbody>
</table>